{% extends 'base.html.twig' %}

{% block body %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('component/_home_main_carousel.html.twig') }}

    <h1 class="dance-com">Dance.com</h1>

    <div class="list-dance">
        {% if dances is defined %}
            {% for dance in dances %}
                <div class="dance-type">
                    <a href="{{ path("aboutdance_show", {slug: dance.slug}) }}" >
                        <img class="dance-image" src="{{ dance.image }}" />
                        <span class="dance-name">{{ dance.name }}</span>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
